.popularLife .box {
  margin: 15px 15px 15px 0;
}
.popularLife img {
  width: 100%;
  height: 100%;
}
.popularLife .text {
  padding: 20px;
}
.popularLife .content {
  width: 100%;
  overflow: hidden;
}
